{% extends "base.html" %} {% block title %}Changed{% endblock %} {% block
content %}
<div class="container text-center">
  <br />
  <div style="font-family: open-sans, sans-serif; font-size: 40px">
    It's time for your new bike!
  </div>

  <div class="bike-text">
    We are always well-stocked with youth bikes, dirt jumpers, trail, enduro and
    downhill bikes. With a passionate crew of cyclists on staff, we have
    tremendous experience across all disciplines of cycling and are happy to
    help you get the most out of your riding time. Check out our
    <a href="{{url_for('views.bikesPB')}}" style="color: #000"
      >list of in-stock bikes here</a
    >
    to see some of our current options.<br />
    <br />
    We are proud to be dealers of Transition and Norco, two local brands who
    continue to push the boundaries and make the best bikes in the industry.
    Whether you are looking for an entry-level hardtail or the best bike money
    can buy, you will have options at NSBS.
  </div>
  <br />
  <a href="https://www.transitionbikes.com/Home.cfm" target="_blank"
    ><img
      src="/static/pictures/pics/tranny.png"
      class="img-fluid"
      style="width: 60%"
  /></a>
  <div class="bike-text">
    We are proud to be one of the largest Transition Bikes dealers in Canada!
    Transition is a local company from just south of the border, in Bellingham,
    WA. They make high end mountain bikes for all types of riding from XC to DH.
    We are always well stocked in everything Transition offers. Take a look
    <a href="{{url_for('views.bikesPB')}}" style="color: #000">here</a> to see
    some of out in stock transitions.
  </div>

  <a href="https://www.transitionbikes.com/Home.cfm" target="_blank">
    <img
      src="/static/pictures/pics/norco.png"
      class="img-fluid"
      style="width: 60%"
    />
  </a>

  <div class="bike-text">
    Norco is a local brand from Coquitlam, BC that have a broad range of bikes.
    We have Norco mountain bikes for all riders, from beginners looking to do
    some trails and city riding, to experts wanting the fastest and most
    advanced bike you can buy. Take a look
    <a href="{{url_for('views.bikesPB')}}" style="color: #000">here</a> to see
    some of our in stock norcos. We also have many other norcos in stock that
    are not present there, so let us know what you are after and we will let you
    know if we have it / can get it.
  </div>

  <!-- <div class="row">
    <div class="col">
      <a href="https://www.transitionbikes.com/Home.cfm" target="_blank"
        ><img
          src="/static/pictures/pics/tranny.png"
          class="img-fluid"
          style="margin-top: 5px"
      /></a>
    </div>

    <div class="col">
      <a href="https://www.transitionbikes.com/Home.cfm" target="_blank">
        <img src="/static/pictures/pics/norco.png" class="img-fluid" />
      </a>
    </div>
  </div>
</div> -->

  <!-- <div class="row align-items-center justify-content-between">
  <div class="col-md p-5">
    <img src="/static/pictures/pics/tranny.png" class="img-fluid" />
  </div>
  <div class="col-md p-5">
    <h2>Transition Bikes</h2>
    <p class="lead">
      We are proud to be one of the largest Transition Bikes dealers in Canada!
      Transition is a local company from just south of the border, in
      Bellingham, WA. They make high end mountain bikes for all types of riding
      from XC to DH. We are always well stocked in everything Transition offers.
      Their bikes have been proven by multiple editorial awards in recent years
      and always guarantee a party in the woods!
    </p>
    <a
      href="https://www.transitionbikes.com/Home.cfm"
      target="_blank"
      class="btn1"
      >Visit Transition</a
    >
  </div>
</div> -->

  <!-- <section class="section2">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md p-5">
        <h2>Norco Bicycles</h2>
        <p class="lead">
          Norco is a local brand from Coquitlam, BC that have a broad range of
          bikes. We have Norco mountain bikes for all riders, from beginners
          looking to do some trails and city riding, to experts wanting the
          fastest and most advanced bike you can buy.
        </p>
        <a href="https://www.norco.com/" target="_blank" class="btn1"
          >Visit Norco</a
        >
      </div>
      <div class="col-md p-5">
        <img src="/static/pictures/pics/norco.png" class="img-fluid" />
      </div>
    </div>
  </div>
</section> -->

  {% endblock %}
</div>
