{% extends "base.html" %} {% block title %}Changed{% endblock %} {% block
content %}

<section class="section1">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-md order-last">
        <!-- <div class="box"> -->
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2600.392617088296!2d-123.07467488441526!3d49.325785175636774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548670479ba62361%3A0x3bb6e7001e8fc223!2sNorth%20Shore%20Bike%20Shop!5e0!3m2!1sen!2sca!4v1662267263686!5m2!1sen!2sca"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <!-- </div> -->
        </div>
      </div>
      <div class="col-md p-5 order-first">
        <div class="box5">
          <h1>North Shore Bike Shop</h1>

          <h4>North Vancouver</h4>
        </div>
        <div class="box">
          <h4 class="text-center">
            1831 Lonsdale Avenue <br />
            North Vancouver, BC <br />
            V7M 2J8
          </h4>
        </div>

        <div class="box">
          <table>
            <tr>
              <th></th>
              <th>Open</th>
              <th>Close</th>
            </tr>
            <tr>
              <th>Monday</th>
              <th>11:00 AM</th>
              <th>7:00 PM</th>
            </tr>
            <tr>
              <th>Tuesday</th>
              <th>11:00 AM</th>
              <th>7:00 PM</th>
            </tr>
            <tr>
              <th>Wednesday</th>
              <th>11:00 AM</th>
              <th>7:00 PM</th>
            </tr>
            <tr>
              <th>Thursday</th>
              <th>11:00 AM</th>
              <th>7:00 PM</th>
            </tr>
            <tr>
              <th>Friday</th>
              <th>11:00 AM</th>
              <th>7:00 PM</th>
            </tr>
            <tr>
              <th>Saturday</th>
              <th>10:00 AM</th>
              <th>6:00 PM</th>
            </tr>
            <tr>
              <th>Sunday</th>
              <th>11:00 AM</th>
              <th>4:00 PM</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section2">
      <div class="container">
        <div>
          <h1>
            Come see us in person, call, or email. We are always happy to help.
          </h1>
          <br />
          <h2>
            Phone Number: (604) 929-6727
            <a
              href="https://www.transitionbikes.com/Home.cfm"
              target="_blank"
              class="btn1"
              >Call Us</a
            >
          </h2>

          <h2>
            Cell Number (text also availiable): (604) 929-6727
            <a
              href="https://www.transitionbikes.com/Home.cfm"
              target="_blank"
              class="btn1"
              >Call Us</a
            >
          </h2>
          <h2>
            Email: northshorebikeshop@gmail.com
            <a
              href="https://www.transitionbikes.com/Home.cfm"
              target="_blank"
              class="btn1"
              >Email Us</a
            >
          </h2>
        </div>
      </div>
    </section> -->

<a id="contact"></a>
<!-- <div class="container">
  <div class="row align-items-center justify-content-between">
    <div class="col-md p-5 text-center">
      <i class="fa-solid fa-phone fa-7x"></i>
      <h3>
        <br />
        Phone
      </h3>
      <p class="lead">(604) 929-6727 (call) <br />(604) 929-6727 (text)</p>
      <a href="tel:16049296727" target="_blank" class="btn1">Call</a>
    </div>
    <div class="col-md p-5 text-center">
      <i class="fa-solid fa-envelope fa-7x"></i>
      <h3><br />Email</h3>
      <p class="lead">northshorebikeshop@gmail.com</p>
      <a href="mailto:northshorebikeshop@gmail.com" target="_blank" class="btn1"
        >Email</a
      >
    </div>
  </div>
</div> -->
<a class="anchor" id="bottom"></a>
<div
  style="
    font-family: open-sans, sans-serif;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 2%;
    font-weight: 600;
  "
>
  Contact Us
</div>
<div
  style="
    font-family: open-sans, sans-serif;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
  "
>
  If you have any questions, inquiries, or just want to chat about bikes, don't
  hesitate to contact us! We try to reply to emails within the business day.
  Fill out the form below and we will reply via email or you can just use
  <a href="mailto:northshorebikeshop@gmail.com" target="_blank"
    >northshorebikeshop@gmail.com</a
  >
  to email us.
</div>
<div
  style="font-family: open-sans, sans-serif; font-size: 20px; margin-left: 5%"
>
  You can also call us at
  <a href="tel:16049296727" target="_blank">(604) 929-6727</a> or call and text
  us at <a href="tel:16049286728" target="_blank">(604) 928-6728</a>.
</div>
<form action="/form" method="POST" style="margin-top: 2%">
  <div
    style="font-family: open-sans, sans-serif; font-size: 30px; margin-left: 5%"
  >
    Email Form
  </div>
  <div
    class="form-group"
    style="margin-left: 5%; margin-top: 2%; margin-right: 5%"
  >
    <label for="name">Your Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter your email (we will contact you here)"
    />
    <label for="name" style="margin-top: 1%">Your Name</label>
    <input
      type="name"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter your name"
    />
    <label for="name" style="margin-top: 1%">Subject</label>
    <input
      type="subject"
      class="form-control"
      id="subject"
      name="subject"
      placeholder="Enter email subject"
    />
    <label for="name" style="margin-top: 1%">Message</label>
    <!-- <input
      type="message"
      class="form-control"
      id="message"
      name="message"
      placeholder="Enter your message"
    /> -->
    <textarea
      type="message"
      class="form-control"
      id="message"
      name="message"
      placeholder="Enter your message"
      rows="5"
    ></textarea>
  </div>
  <br />
  <button
    type="submit"
    style="margin-left: 5%; margin-bottom: 20px"
    class="btn-card"
  >
    Submit
  </button>
</form>
{% endblock %}
