{% extends "base.html" %} {% block title %}Changed{% endblock %} {% block
content %}
<!-- 
<div class="textonimage">
  <img src="/static/pictures/pics/SIK09398.jpg" alt="" />
  <darkness class="darkness"></darkness>
  <div class="logoonimage">
    <img src="/static/pictures/pics/logo_northshorebikeshop.png" alt="" />
    <caption1 class="caption1">
      Your Local Mountain Bike Experts <br />
    </caption1>
    <caption2 class="caption2">
      North Shore Bike Shop is proudly serving the mountain bike community since
      2007. <br />
      <br />
      We are a group of passionate mountain bikers who are also keenly focused
      on delivering excellent customer service.
    </caption2>
  </div>
</div> -->

<div class="parent">
  <img src="/static/pictures/pics/lars.jpeg" class="image1" />
  <div class="child">
    <img src="/static/pictures/pics/logoforimage.png" class="image2" />
    <div class="imagetext">
      Your local mountain bike experts, proudly serving the community since 2007
    </div>
  </div>
</div>

<section class="section2">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
      <div>
        <img
          src="/static/pictures/pics/store.png"
          alt=""
          height="200"
          width="350"
          style="border-radius: 5%"
        />
      </div>
      <div>
        <a href="{{url_for('views.contact', info='0')}}" class="btn-card"
          >Visit or Contact Us</a
        >
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
      <div>
        <img
          src="/static/pictures/nsbs photos/20221014_195557.jpg"
          alt=""
          height="200"
          width="350"
          style="border-radius: 5%"
        />
      </div>
      <div>
        <a href="{{url_for('views.bikes')}}" class="btn-card">Shop at NSBS</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 text-center">
      <div>
        <img
          src="/static/pictures/nsbs photos/IMG_1087.jpg"
          alt=""
          height="200"
          width="350"
          style="border-radius: 5%"
        />
      </div>
      <div>
        <a href="{{url_for('views.service')}}" class="btn-card">NSBS Service</a>
      </div>
    </div>
  </div>
</section>
<!-- 
<section class="section1">
  <div class="row">
    <div class="col">asdfasdf</div>
    <div class="col">
      <img
        src="/static/pictures/nsbs photos/20221014_194941.jpg"
        class="img-fluid"
        alt=""
      />
    </div>
  </div>
</section> -->
<!-- 
<section class="section1">
  <div class="row align-items-center">
    <div class="col">
      <div class="text-pictures">
        <img src="/static/pictures/nsbs photos/20221014_194941.jpg" alt="" />
      </div>
    </div>
    <div class="col"><div class="text-text">asdfasd</div></div>
  </div>
</section> -->

<div
  class="row gx-0 align-items-center"
  style="background-color: var(--zigzag-bg-color)"
>
  <div class="col-lg">
    <img
      src="/static/pictures/nsbs photos/20221014_194941.jpg"
      width="100%"
      alt=""
    />
  </div>
  <div class="col-lg" style="background-color: var(--zigzag-bg-color)">
    <div class="zigzag">Shop Bikes</div>
    <div class="zigzag-text">
      NSBS is well-stocked with youth bikes, dirt jumpers, trail, enduro and
      downhill bikes. Whether you are looking for an entry-level hardtail or the
      best bike money can buy, you will have options at NSBS.
    </div>
    <a href="{{url_for('views.bikes')}}" class="zigzag-button">More Info</a>
  </div>
</div>

<div
  class="row gx-0 align-items-center flex-column-reverse flex-lg-row"
  style="background-color: var(--zigzag-bg-color)"
>
  <div class="col-lg" style="background-color: var(--zigzag-bg-color)">
    <div class="zigzag">Shop Parts and Gear</div>
    <div class="zigzag-text">
      At North Shore Bike Shop you will only find proven brands. Whether you
      need a replacement to get your bike going, or you want to upgrade to the
      latest and greatest, our shop is always ready to meet your biking needs.
    </div>
    <a href="{{url_for('views.shop')}}" class="zigzag-button">More Info</a>
  </div>
  <div class="col-lg">
    <img src="/static/pictures/nsbs photos/im2.jpg" width="100%" alt="" />
  </div>
</div>

<div
  class="row gx-0 align-items-center"
  style="background-color: var(--zigzag-bg-color)"
>
  <div class="col-lg">
    <img src="/static/pictures/nsbs photos/IMG_1090.jpg" width="100%" alt="" />
  </div>
  <div
    class="col-lg align-items-center"
    style="background-color: var(--zigzag-bg-color)"
  >
    <div class="zigzag">Service</div>
    <div class="zigzag-text">
      Our service department is tidy, fast, and staffed with competent mechanics
      who are eager to see you back on your bike. Our turn-around time is
      unmatched anywhere else in town. We fix everything bicycle related.
    </div>
    <a href="{{url_for('views.service')}}" class="zigzag-button">More Info</a>
  </div>
</div>

{% endblock %}
