{% extends "base.html" %} {% block title %}Changed{% endblock %} {% block
content %}
<div class="row gx-0 align-items-center" style="background-color: #000000">
  <div class="col-lg">
    <img src="/static/pictures/nsbs photos/IMG_1090.jpg" width="100%" alt="" />
  </div>
  <div class="col-lg align-items-center" style="background-color: #000000">
    <div class="zigzag">Service</div>
    <div class="zigzag-text" style="margin-bottom: 20px">
      Our service department is tidy, fast, and staffed with competent mechanics
      who are eager to see you back on your bike. Our turn-around time is
      unmatched anywhere else in town. We fix everything bicycle related.
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-between">
  <div class="col-md">
    <div class="bike-text">
      At NSBS we operate on a first come first serve basis. Bring your bike in
      anytime and leave it with us for some time depending on how busy it is. We
      will give an accurate estimate of how long you will be with out it. Feel
      free to call or email to get the current ETA for service. You do not need
      to call ahead to book your bike in. <br />
      <br />
      While our store focuses on mountain bikes, we do have parts and can repair
      all types of bikes. We are happy to fix any problem, just bring your bike
      and we will get you riding soon!
    </div>

    <div
      style="
        font-family: open-sans, sans-serif;
        font-size: 40px;
        margin-left: 5%;
        font-weight: 600;
      "
    >
      Tune-Up Rates
    </div>
    <div
      style="
        font-family: open-sans, sans-serif;
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 2%;
      "
    >
      Tune-ups cover the labor for most installation of parts and any other
      labor items will be added on to the cost of the tune-up as needed.
    </div>
    <div
      style="
        font-family: open-sans, sans-serif;
        font-size: 30px;
        margin-left: 5%;
      "
    >
      Kids Bike Tune - $60 (Bikes 24 inch and under)
    </div>
    <div
      style="
        font-family: open-sans, sans-serif;
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 2%;
      "
    >
      Complete safety check of all components <br />
      Brake & drivetrain adjustment <br />
      Minor wheel truing <br />
      Lubricate derailleur / brake pivot points, barrel adjusters & chain
      Inflate tires
    </div>
    <div
      style="
        font-family: open-sans, sans-serif;
        font-size: 30px;
        margin-left: 5%;
      "
    >
      Standard Tune - $90
    </div>
    <div
      style="
        font-family: open-sans, sans-serif;
        font-size: 20px;
        margin-left: 5%;
        margin-bottom: 2%;
      "
    >
      Complete safety check of all components <br />
      Brake & drivetrain adjustment <br />
      Minor wheel truing <br />
      Lubricate derailleur / brake pivot points, barrel adjusters & chain
      Inflate tires
    </div>
  </div>
  <!-- <div
    style="font-family: open-sans, sans-serif; font-size: 30px; margin-left: 5%"
  >
    The Complete Tune Up - $90
  </div>
  <div
    style="
      font-family: open-sans, sans-serif;
      font-size: 20px;
      margin-left: 5%;
      margin-bottom: 2%;
    "
  >
    Bike cleaning <br />
    Wheel truing <br />
    Derailleur hanger alignment <br />
    Derailleur hanger alignment <br />
    No charge installation of: Brake Pads, Chains, 1 Unit Of Cable & Housing
    <br />
  </div>
  <div
    style="font-family: open-sans, sans-serif; font-size: 30px; margin-left: 5%"
  >
    The Complete Tune Up - $90
  </div>
  <div
    style="
      font-family: open-sans, sans-serif;
      font-size: 20px;
      margin-left: 5%;
      margin-bottom: 2%;
    "
  >
    Bike cleaning <br />
    Wheel truing <br />
    Derailleur hanger alignment <br />
    Derailleur hanger alignment <br />
    No charge installation of: Brake Pads, Chains, 1 Unit Of Cable & Housing
    <br />
  </div> -->
</div>

<div
  style="font-family: open-sans, sans-serif; font-size: 30px; margin-left: 5%"
>
  Service Rates
</div>
<table class="tableS">
  <tr>
    <th>Minimum Charge</th>
    <th>$15</th>
    <th></th>
  </tr>
  <tr>
    <th>Tube / Tire install</th>
    <th>$15</th>
    <th></th>
  </tr>
  <tr>
    <th>Install Cushcore / Tire Insert</th>
    <th>$15 - $30</th>
    <th></th>
  </tr>
  <tr>
    <th>Drivetrain adjustment</th>
    <th>$25 - 40</th>
    <th></th>
  </tr>
  <tr>
    <th>Brake Adjustment / Replace Pads</th>
    <th>$25</th>
    <th></th>
  </tr>
  <tr>
    <th>Brake Bleed</th>
    <th>$40</th>
    <th></th>
  </tr>
  <tr>
    <th>Wheel True / Spoke Replacement</th>
    <th>$35 - 55</th>
    <th></th>
  </tr>
  <tr>
    <th>Wheel Build (includes spokes, nipples, and tape)</th>
    <th>$145</th>
    <th></th>
  </tr>
  <tr>
    <th>Hub Service</th>
    <th>$45 - $65</th>
    <th></th>
  </tr>
  <tr>
    <th>Headset Install</th>
    <th>$40</th>
    <th></th>
  </tr>
  <tr>
    <th>Bottom Bracket Install</th>
    <th>$40</th>
    <th></th>
  </tr>
  <tr>
    <th>50hr Shock Air Can Service</th>
    <th>$75</th>
    <th></th>
  </tr>
  <tr>
    <th>50hr Fork Lowers Service</th>
    <th>$90</th>
    <th></th>
  </tr>
  <tr>
    <th>Suspension Full Service</th>
    <th>$190 - 230</th>
    <th></th>
  </tr>
  <tr>
    <th>Pivot Bearing Replacement</th>
    <th>$225</th>
    <th></th>
  </tr>
</table>

{% endblock %}
