{% extends "base.html" %} {% block title %}Changed{% endblock %} {% block
content %}

<section class="section1">
  <div class="container text-center">
    <br />
    <h1>All the best parts at the ready.</h1>
    <p class="lead">
      At North Shore Bike Shop you will only find proven brands. We are riders -
      we carry products our staff tested over the years riding the Pacific
      Northwest and our customers love. Whether you need a replacement to get
      your bike going, or you want to upgrade to the latest and greatest, our
      shop is always ready to meet your biking needs.
    </p>
    <br />
  </div>
</section>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="6"
      aria-label="Slide 7"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="7"
      aria-label="Slide 8"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="8"
      aria-label="Slide 9"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/static/pictures/nsbs photos/IMG_1038.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/pictures/nsbs photos/IMG_1041.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/pictures/nsbs photos/IMG_1045.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/pictures/nsbs photos/IMG_1048.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/pictures/nsbs photos/IMG_1055.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/pictures/nsbs photos/IMG_1061.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/pictures/nsbs photos/IMG_1068.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/pictures/nsbs photos/IMG_1070.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="/static/pictures/nsbs photos/IMG_1076.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<section class="section3 hidden-xs">
  <div class="container">
    <div>
      <br />
      <div class="row justify-content-between">
        <div class="col-xs">
          <img
            src="/static/pictures/logos2/SRAM_logo.svg.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/maxxis.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/giro.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/ixs.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-xs">
          <img
            src="/static/pictures/logos2/Shimano_logo.svg.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/oneup.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/evoc.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/endura.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-xs">
          <img
            src="/static/pictures/logos2/rockshox-logo-vector.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/cush.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/rc.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/wr1.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-xs">
          <img
            src="/static/pictures/logos2/fox.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/tairin.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/tld.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/camelbak.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
