{% extends "base.html" %} {% block title %}Changed{% endblock %} {% block
content %}

<section class="section1">
  <div class="container text-center">
    <br />
    <h1>All the best parts at the ready.</h1>
    <p class="lead">
      At North Shore Bike Shop you will only find proven brands. We are riders -
      we carry products our staff tested over the years riding the Pacific
      Northwest and our customers love. Whether you need a replacement to get
      your bike going, or you want to upgrade to the latest and greatest, our
      shop is always ready to meet your biking needs.
    </p>
    <br />
  </div>
</section>

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="500">
      <img
        src="/static/pictures/nsbs photos/IMG_1038.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1041.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1045.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1048.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1055.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1061.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1068.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1070.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1076.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1079.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" data-bs-interval="200">
      <img
        src="/static/pictures/nsbs photos/IMG_1081.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>

<section class="section3 hidden-xs">
  <div class="container">
    <div>
      <br />
      <div class="row justify-content-between">
        <div class="col-xs">
          <img
            src="/static/pictures/logos2/SRAM_logo.svg.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/maxxis.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/giro.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/ixs.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-xs">
          <img
            src="/static/pictures/logos2/Shimano_logo.svg.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/oneup.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/evoc.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/endura.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-xs">
          <img
            src="/static/pictures/logos2/rockshox-logo-vector.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/cush.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/rc.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/wr1.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="col-xs">
          <img
            src="/static/pictures/logos2/fox.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/tairin.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/tld.jpg"
            alt=""
            class="img-fluid"
          /><img
            src="/static/pictures/logos2/camelbak.jpg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
